@{
    ViewData["Title"] = "Index Page";
}

<head>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:gainsboro;">
    <div>
        <div style="width: 60%; position:relative; float:left;">
            <div style="position:relative; float:left; margin-top: 50px; margin-right: 50px;">
                <img src="~/images/Portfolio_Photo_Japan.PNG" alt="Portfolio Picture" size="flex" min-width="750" min-height="1334" style="width:100%; height:auto;">
            </div>
        </div>

        <div style="width: 40%; float:right; font-size: 120%; font-family: Lucida Console">
            <br />
            <br />
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <p id="earlyfade" style="font-size: 250%; text-align: center; font-family: Lucida Console" ;">
                About Me
            </p>
            <p id="earlyfade">
                Hey there!
            </p>
            <p id="midfade">
                I’m Nick. An undergraduate student at the University of Utah, pursuing a bachelors degree in Computer Science. The more time I spend programming (both in and out of school), the more I’ve found how much I enjoy collaborating with a team, challenging myself, and growing as a developer.
            </p>
            <p id="midfade">
                I love travelling, spending time with friends and family, gaming, and the outdoors. My favorite food is sushi, and I can drink coffee all day long.
            </p>
            <p id="latefade">
                Feel free to contact me using any of the following:
            </p>
            <p id="latefade">
                Email : nicholasnord@gmail.com
            </p>
            <p id="latefade">
                Cell : (801) 971-7336.
            </p>
            <p id="latefade">
                Github : <a href=https://github.com/Nordicade> https://github.com/Nordicade </a>
            </p>
            <p id="test">
                LinkedIn : <a href=https://www.linkedin.com/in/nicholas-nord-644220194 /> https://www.linkedin.com/in/nicholas-nord-644220194/ </a>
            </p>
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />


            <br />
            <br />

        </div>
    </div>
</body>