@{
    ViewData["Title"] = "Resume Page";
}
<head>
    <link href="~/css/resume.css" rel="stylesheet" type="text/css" />
</head>

<div class="text-center center-align-div">
    <button type="button" class="btn btn-secondary btn-lg btn-block download">Download PDF</button>
</div>
<br />
<hr style="height:1px;border:none;color:#333;background-color:#333;" />
<br />
<div>
    <iframe src="~/images/resume.pdf" class="full-size">
    </iframe>
    <a href="~/images/resume.pdf"> </a>

</div>
