@{
    ViewData["Title"] = "Urc";
}
<head>
    <link href="~/css/work.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

</head>
<meta content="width=device-width, initial-scale=1.0">

<body>
    <div style="margin-top:50px; width:100%; height:100%; color:black;">
        <p class="text-center" style="font-size: 200%;">
            <b>UNIVERSITY RESEARCH COORDINATOR - C#</b>
        </p>
        <div style="width: 58%; position:relative; float:left; font-size: 120%;">
            <br />
            <br />
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="color:black"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox" style=" width:100%; height: 500px !important;">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/images/4540/URC_1.PNG" id="urc_1" alt="1 URC slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/4540/URC_2.PNG" id="urc_2" alt="2 URC slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/4540/URC_3.PNG" id="urc_3" alt="3 URC slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/4540/URC_4.PNG" id="urc_4" alt="4 URC slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/4540/URC_5.PNG" id="urc_5" alt="5 URC slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/4540/URC_6.PNG" id="urc_6" alt="6 URC slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/4540/URC_7.PNG" id="urc_7" alt="7 URC slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/4540/URC_8.PNG" id="urc_8" alt="8 URC slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/4540/URC_9.PNG" id="urc_9" alt="9 URC slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <br />
            <br />
        </div>


        <div style="width: 40%; position:relative; float:right; font-size: 120%;">
            <br />
            <br />
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <p>
                For my CS 4540 - Web architecture course, I had used C#, ASP Core, and SQL to create a MVC full stack website. The purpose of this assignment was to create a website that would pair students seeking research opportunities with professors that could use help with their research. I started this assignment by writing HTML and CSS by hand. This was my first experience dealing with the front-end; and was a great learning experience and taught me a lot about the full stack, user roles, and hosting/managing a website).
            </p>
            <p>
                It didn’t take long to find out that bootstrap was a better way to orient a lot of the front-end elements. I also added a SQL back-end that was hosted on AWS server using IIS Express. This project progressed to the point where API endpoints and AJAX methods were included to create single page web applications that can query and modify the backend and display results to the view without having to refresh the page. This involved an AJAX method that would use elements passed in from the controller via a viewbag and then sending a JSON object to the API method. Lastly, I teamed up with a few other classmates and merged our work together to create a final product with even more features, such as a single page web application for messaging. (Complete with a customized HTML/CSS front-end) The final product also included some data analytics available for moderators of the web page to view, providing detailed information which can guide the direction of the site.
            </p>
            <p>
                Due to this program being a school assignment, the code is within a private github repository. If you are interested in seeing the code, feel free to email me and I will provide temporary viewing access.
            </p>
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <br />
            <br />
        </div>
    </div>
</body>
